<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<form action="#"
      th:action="search-user"
      th:object="${user}"
      method="post">
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Username">
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
    <input type="submit" value="Search User">
</form>
</html>