<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello User!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="|${user}|"></p>
<p><a href="/">Home</a></p>
<form action="#"
      th:action="@{/edit/{ID}(ID=${user.ID})}"
      th:object="${user}"
      method="get">
    <input type="submit" value="Edit User">
</form>
<form action="#"
      th:action="@{/delete/{ID}(ID=${user.ID})}"
      th:object="${user}"
      method="get">
    <input type="submit" value="Delete User">
</form>
</body>
</html>